node_modules
dist
out
.next
*.log
.DS_Store
/apps/desktop/release
/apps/desktop/.vite
test
pgdata
dist-electron
bills-app-*.dmg
*.cookie
*.zst
*-meta.json
build
postmaster.pid
.turbo/*
.turbo
*.pid
**/pgdata/**
**/dist-electron/**
**/bills-app-*.dmg
**/build/**
**/dist/**
**/out/**
**/release/**
**/test/**
**/test/**
apps/desktop/pgdata
apps/desktop/pgdata/*
